# folder
src/data/
src/__pycache__
src/rnd/__pycache__
__pycache__/
# pyflow
__pypackages__/
# testing
data/
# Environments

.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
.vscode
# Log files
pip-log.txt
pip-delete-this-directory.txt
*.log
*.out
*.csv
*.json
*.pkl
*.bin


